{% extends "base.html" %}
{% block content %}
<style>
.login {
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  padding: 200px 50px 75px 100px;
  text-align:center;
  border-radius:16px ;
}
.login.form.submit{
  
} 
</style>
<div class="login">
  <form method="post">
   {{form.hidden_tag()}}
    <img src={{ url_for('static', filename='index.png') }}>
    <br>
   {{form.email.label}}<br>
   {{form.email()}}<br>
   {{form.password.label}}<br>
   {{form.password()}}<br><br>
   <button>
   {{form.submit()}}
   </button>
  </form>
</div>
{% endblock %}
